<!--The content below is only a placeholder and can be replaced.-->
<h1>Assignment 4</h1>
<h3>Game Control:</h3>
<app-game-control (numberEvent)="updateNumber($event)"></app-game-control>
<p>The number received is: {{ receivedNumber }}</p>
<hr>
<h3>Odd Component:</h3>
<app-odd *ngIf="receivedNumber % 2 !== 0 && receivedNumber > 0" [receivedOddNumber]="receivedNumber"></app-odd>
<hr>
<h3>Even Component:</h3>
<app-even *ngIf="receivedNumber % 2 == 0" [receivedEvenNumber]="receivedNumber"></app-even>